

<%= link_to "view island", island_path(island.id) %>
<h2><%= island.name %></h2>
<p><i class="fas fa-globe-europe island-blue"></i> <%= island.location %></p>
<h3 id="price-tag">€<%= island.price_per_night %> / night</h3>

