<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
    
    <h2>Edit your Island</h2>

    <%= render 'form' %>
    <p class="mt-2"><%= link_to 'Cancel', island_path(@island) %></p>

    </div>
  </div>
</div>

<%= render 'shared/footer' %>