// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$island-light: #DCDCDD;
$island-medium: #C5C3C6;
$island-dark: #46494C;
$island-ocean: #4C5C68;
$island-blue: #1985A1;
