// Specific CSS for your home-page
body {
  color: $island-dark;

}

.border-bottom {
  border-color: $island-ocean !important;
}

.img-style-car {
  height: 450px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $island-blue;
}

.profile {
  width: 250px;
}