// Specific CSS for your home-page
body {
  color: $island-dark;

}

.border-bottom {
  border-color: $island-ocean !important;
}

.img-style-car {
  height: 450px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $island-blue;
}

.profile {
  width: 250px;
}

.wide-input {
  width: 415px;
}

// FOOTER SETTINGS

* {
box-sizing: border-box;
}

*:before,
*:after {
box-sizing: border-box;
}

html,
body {
height: 100%;
position: relative;
}

.main-container {
min-height: 100vh; /* will cover the 100% of viewport */
overflow: hidden;
display: block;
position: relative;
padding-bottom: 160px; /* height of your footer */
}

.footer {
position: absolute;
bottom: 0;
width: 100%;
}