<div class="footer justify-content-between">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright d-flex">
    <p class="d-inline pt-2 pr-1"> C. Island Hopper</p>
    <%= image_tag "logo_nav.png", class: "d-inline-block align-top logo-img-nav" %>
  </div>
</div>
