<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( '<%= cl_image_path 'cris-tagupa-9ZXHUr5aCwM-unsplash_tuxfon'%>' );">
    <div class="container">
      <h1>The island experience, made easy.</h1>
      <div class="searchbar">
        <a class="btn btn-primary" href="#">Find your island</a>
      </div>
    </div>
  </div>

<div class="container">
  
  <div class="featured-islands">
    <h2>Featured islands</h2>
    <div class="cards-container">
    </div>
  </div>
</div>



