.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}


#btn-login {
  font-family: 'Montaga';
  padding: 5px 30px;
  margin-right: 15px;
  color: $island-background;
  font-weight: normal;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;

    &:hover {
    opacity: 0.8;
    }
}

  nav a {
    text-decoration: none !important;
  }

#btn-signup {
  font-family: 'Montaga';
  padding: 5px 20px;
  color: #FFFFFF;
  font-weight: normal;
  text-decoration: none !important;
  border: 2px solid #FFFFFF;
  background-color: $island-background;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;

    &:hover {
    opacity: 0.8;
    }
}

