.mapboxgl-popup {
  min-width: 200px;
  background-color: $island-background;
  border-radius: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
    h2 {
      color: $island-blue;
    }
  }

#price-tag {
  font-weight: bolder;
  font-size: 2em;
}
