
.map-wrapper {
  display: flex;
}


.left-listing {
  width: 100vw;
}


#map {
  // height: 100vh;
  position: sticky;
  top: 0px;
}


.map-cards {
  grid-gap: 10px;
  padding: 10px;
}


.left-header {
  padding: 30px 10px 20px 10px;
}
